<div class="product-card">
  <div class="product-tumb">
    <img [src]="product.image" alt="">
  </div>
  <div class="product-details">
    <span class="product-catagory">{{product.category}}</span>
    <h4>{{product.title}}</h4>
    <p>{{product.description}}</p>
    <div class="product-bottom-details">
      <div class="product-price">${{product.price}}</div>
      <div class="product-links">
        <!-- <a href=""><i class="fa fa-heart"></i></a> -->
        <a href=""><i class="fa fa-shopping-cart"></i></a>
      </div>
    </div>
  </div>
</div>
